apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: threat-intel-deny-list
  namespace: default
spec:
  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
        except:
        - 203.0.113.99/32
  podSelector: {}
  policyTypes:
  - Egress
